html {
  /* max-width: 1280px; */
  margin: 0 auto;
}

.team-area {
  flex-wrap: wrap;
}

.team-area .card {
  width: 250px;
}

.team-area .card:hover {
  transform: scale(1.05);
  transform-origin: center;
  transition: all ease-in-out 200ms;
}